
.contact {
    width: 50rem;
    height: 10rem;
    border: 1px solid black;  
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}

.case {
    width: 100%; 
}

.user1{
    font-size: 3rem;
    margin-top: 0.6rem;
}

.user{
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 1rem;
    text-align: center;
}

.contacts{
    margin-left: 3rem;
}
